<div id="app" class="main">
  <h2 *ngIf="progress == false"> ¡Bienvenido!</h2>
  <div class="progress" *ngIf="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
  </div>
	<div class="row">
    <div class="container">
      <div *ngIf="progress == false" class="row">
        <div class="col-8">
          <form [formGroup]="form" (submit)="predecir()">
            <div class="card">
              <a class="list-group-item list-group-item-action list-group-item-primary">Coloca el abstract médico </a>
                <textarea class="form-control" formControlName="medical_abstracts" rows="15" v-model="words" (change)="on_ChangeInput()"></textarea>
            </div>
            <div *ngIf="buttonEnabled">
              <button type="submit button" class="btn btn-outline-info" (clic)="predecir()">Diagnosticar</button>
            </div>
          </form>
        </div>

        <div class="col-4">
          <div class="card">
            <a class="list-group-item list-group-item-action list-group-item-primary">Resultado </a>
            <textarea disabled class="form-control" rows="1" v-model="result"> {{resultado}} </textarea>
          </div>
          <div class="card">
            <!-- <a class="list-group-item list-group-item-action list-group-item-primary">Probabilidades  </a> -->
            <table class="table table-light table-striped">
              <thead class="table-primary">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Enfermedad</th>
                  <th scope="col">Probabilidad</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor= "let e of enfermedades">
                  <th scope="row">{{e.convension}}</th>
                  <td>{{e.nombre}}</td>
                  <td style ="text-align: center">{{e.proba}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="progress" class="loader center"></div>
    </div>
	</div>
</div>
